<h2>Lista de Productos</h2>
{{#if productos}}
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Foto</th>
        </tr>
        {{#each productos}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.title}}</td>
            <td>{{this.price}}</td>
            <td><img src="{{this.thumbnail}}"></td>
        </tr>
        {{/each}}
    </table>
{{else}}
    <h2>No se encontraron productos</h2>
{{/if}}